form {
    .field-array {
        .array-item > * {
            display: inline-block;
            vertical-align: top;
        }
        .array-item-toolbox {
            display: inline-block;
        }
        button {
            background-color: transparent;
            border: none;

            width: 4rem;
            height: 4rem;

            &:focus {
                border: none;
            }


            &.array-item-move-up {
                background-image: url('~images/icons/arrow-up-light.svg');
            }
            &.array-item-move-down {
                background-image: url('~images/icons/arrow-down-light.svg');
            }
            &.array-item-remove {
                background-image: url('~images/icons/cross-light.svg');
            }
            &.btn-add {
                background-image: url('~images/icons/plus-light.svg');
            }
        }
    }
}
